<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs'); -%>
  </head>
  <body>
    <div class="header">
      <div class="LHSheader">
        <div class="logo">
          <img src="/public/img/IMSlogo.png" alt="IMSlogo" width="80vmax">
        </div>
        <div class="companyName">
          <a href="/apps" style="text-decoration:none;"><h1>iDiDit</h1></a>
        </div>
      </div>

      <div class="RHSheader">
        <div>
          <a href="/apps"><img class="icon" src="/public/img/homeIcon.png" alt="HomeIcon" width="35"></a>
        </div>
        <div>
          <a href="/sessions/<%= user._id %>"><img class="icon" src="/public/img/userIcon.png" alt="UserIcon" width="25"></a>
        </div>
        <div>
          <form action="/sessions?_method=DELETE" method="POST">
            <button type="submit" class="logout"><img class="icon" src="/public/img/logout.png" alt="logout" width="30"></button>
          </form>
        </div>
      </div>
    </div>

    <div class="subsplash">
      <div class="toolForms">
        <div class="returnDiv">
          <a class="button returnbuttons" href="/users/all" style="text-decoration:none;"><h4>BACK</h4></a>
        </div>
        <form action="/users/<%=founduser._id; %>?_method=PUT" method="POST">
        
          <div class="row1">
            <div class="toolInputText">
              <label for="username">New Username</label>
              <input value="<%= founduser.username %>" id="username" type="text" class="toolInput" name="username">
            </div>
            
          </div>
  
          <div class="row2">
            <div class="toolInputText">
              <label for="role">New Role </label>
  
              <select class="toolInput" name="role" value="<%= founduser.role %>" id="role">
                <option value="user"> User </option>
                <option value="admin"> Admin </option>
              </select>
  
              <!-- <input value="<%= founduser.role %>" id="role" type="text" class="accountInput" name="role"> -->
            </div>
          </div>
  
          <button class="submit" type="submit">Update Info</button>
            
        </form>
      </div>
      
    </div>
  </body>
</html>